<?xml version="1.0"?>

<launch>

  <!-- robot model -->
  <include file="$(find bimur_description)/launch/right_arm_upload.launch"/>

  <!--ur5 driver -->
  <include file="$(find bimur_bringup)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="172.22.22.2"/>
  </include>


  <!--gripper driver -->
  <include file="$(find bimur_bringup)/launch/gripper_bringup.launch">
    <arg name="comport" default="/dev/ttyUSB0"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">[/gripper/joint_states, /arm/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- moveit -->
  <!-- <include file="$(find bimur_bringup)/launch/moveit.launch"/>
 -->

  <include file="$(find bimur_right_arm_moveit_config)/launch/move_group.launch"/>

  <include file="$(find bimur_right_arm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="true"/>
  </include>

</launch>
