<?xml version="1.0"?>

<launch>

  <!-- robot model -->
  <include file="$(find bimur_description)/launch/right_arm_upload.launch"/>

  <!--ur5 driver -->
  <include file="$(find bimur_bringup)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="172.22.22.2"/>
  </include>

  <!--gripper driver -->
  <include file="$(find bimur_bringup)/launch/gripper_bringup.launch">
    <arg name="comport" default="/dev/ttyUSB0"/>
  </include>

 
  <!-- controllers -->
<!--   <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <rosparam file="$(find robotiq_85_gazebo)/controller/gripper_controller_robotiq.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller gripper" respawn="false" output="screen"/> -->

  <!-- moveit -->
  <!-- <include file="$(find bimur_bringup)/launch/moveit.launch"/>
 -->

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="limited" default="false"/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="true"/>
  </include>

</launch>
